<% layout('layout/page') -%>
<% block('title', 'Главная'); -%>

<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>

<div id='info' class='status' style='display: none;'>
    <p></p>
    <button id='cancel' class="btn btn-primary">Отмена</button>
</div>

<div id='invite' class='status' style='display: none;'>
    <p></p>
    <button id='agreed' class="btn btn-primary">Принять</button>
    <button id='refused' class="btn btn-primary">Отказаться</button>
</div>

<div id="overlay" style='display: none;'></div>


<div class="container">
    <div class="row">
        <div class="col-sm-12" align="center">
            <!<img src="/img/1.jpg" alt="1" style="vertical-align: middle">

            <div id="image"></div>

            <p id="about">
            Го — логическая настольная игра с глубоким стратегическим содержанием, возникшая в Древнем Китае, по разным оценкам, от 2 до 5 тысяч лет назад. По общему числу игроков — одна из самых распространённых настольных игр в мире. Го – самая сложная и последняя «человечная» игра на планете! Игра образов и ассоциаций, игра которая не подчиняется суперкомпьютеру! Игра, которую шахматные чемпионы называют космической и даже игрой третьего тысячелетия.
            </p>

            <% if (user) { %>
                <div class="play" onclick="redirect('/play');">
                    <p>Играть сейчас!</p>
                </div>
            <% } else { %>
                <div class="play" onclick="redirect('/login');">
                    <p>Войти или зарегестрироваться</p>
                </div>
            <% } %>

        </div>
    </div>
</div>

<script>
    function redirect(link) {
        location.href = link;
    }


    var invite = $('#invite');
    var overlay = $('#overlay');
    var info = $('#info')

    var socket = io();

    socket
        .on('join', function() {
            socket.emit('get online list');
        })

        .on('leave', function() {
            socket.emit('get online list');
        })

        .on('game invite', function(from, room, creatorId) {

            $('#invite p').text(from + ' приглашает вас в игру. Принять вызов?');
            invite.show();
            overlay.show();

            $('#agreed').click(function() {
                socket.emit('agreed', true, room, creatorId);
                invite.hide();
                overlay.hide();
            });

            $('#refused').click(function() {
                socket.emit('agreed', false, room, creatorId);
                invite.hide();
                overlay.hide();
            });
        })
        
        .on('cancel invite', function() {
            invite.hide();
            overlay.hide();
        })

        .on('start game', function(username, room) {
            $('#info p').text('Начинается игра против ' + username);

            overlay.show();
            info.show('slow');

            setTimeout(function() {
                overlay.hide();
                info.hide('slow');
                location.href = "/game/" + room;
            }, 3000);
        });
</script>