body {
    background: lemonchiffon;
}
.block {
    width: 700;
    position: relative;
    left: 50%;
    margin-left: -350px;
}
#pass {
    position: relative;
    left: -10%;
}
#resign {
    position: relative;
    bottom: 37px;
    left: 10%;
}