body {
    background: lemonchiffon;
}
.block {
    width: 700;
    position: relative;
    left: 50%;
    margin-left: -350px;
}
#pass {
    position: relative;
    left: -25%;
}
#resign {
    position: relative;
    bottom: 110px;
    left: 25%;
}