body {
    background-color: lemonchiffon;
}
#pass {
    margin: 3% 10% 10% 10%;
}
#resign {
    margin: 3% 10% 10% 10%;
}
h4 {
    margin-left: 50%;
}
.onlineList {
    background: #f0f0f0;
    padding: 10px;
}

form {
    margin-top: 15px;
    margin-bottom: 5%;
}

#chatMessages {
    width: auto;
    height: 700px;
    overflow-y: auto;
}

#gameMessages {
    width: auto;
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    background-color: aliceblue;
}

#onlineList li {
    margin-top: 5px;
}


/*
.messageInChat {
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}
.message {
    max-width: 286px;
    background: #00a6e8;
    color: white;
    left: 10px;
    width: 80%;
    float: left;
    padding: 5px;
}
.incomingMessage {
    max-width: 286px;
    background: #dedede;
    color: black;
    right: 10px;
    width: 80%;
    float: right;
    padding: 5px;
}*/
